body { 
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  margin: 15px 30px;
  //color: #222222;
  //background-color: #EEEEEE; 
}

p, table, ul, li {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  color: #222222;
} 

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  //color: #009966;
}
 
h2, h3, h4, h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  //color: #009966;
}
 
a:link {
  color: #009966;
}

a:visited {
  color: #009966;
}

a:active {
  color: #CC3366;
}

a:hover {
  color: #CC3366;
}

div.footer {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 9px;
  line-height: 12px;
  color: #999999; 
}


a.menu:link {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  font-weight: bold;  
  text-decoration: none;
  color: #222222;
}

a.menu:visited {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  font-weight: bold;  
  text-decoration: none;
  color: #222222;
}

a.menu:active {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  font-weight: bold;  
  text-decoration: none;
  color: #CC3366;
}

a.menu:hover {
  font-family: geneva, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 20px;
  font-weight: bold;  
  text-decoration: none;
  color: #CC3366;
}

